# symfony/framework-bundle #
.env
/public/bundles/
/var/
/vendor/

# symfony/web-server-bundle #
.web-server-pid

# PhpStorm files #
.idea/inspectionProfiles/
.idea/vcs.xml
.idea/dictionaries/

# Symfony files #
composer.lock
symfony.lock
